@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation {
  background-color: #FDFCFC;
}

.navigation__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.625rem 1.25rem;
}

.navigation__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navigation__menuBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.navigation__menuBtnBar {
  width: 1.5625rem;
  height: 0.1875rem;
  background-color: #353535;
  margin: 0.125rem 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navigation__items {
  display: none;
}

.navigation__popUpMenu {
  z-index: 9999;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  background-color: #FDFCFC;
  height: 100vh;
  left: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1.875rem;
  -webkit-box-shadow: inset 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.1);
  background-color: #ebebeb;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.navigation__popUpMenuContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin-left: 1.875rem;
  gap: 0.9375rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

.navigation__popUpMenuContentLink {
  text-decoration: none;
  color: #353535;
}

.navigation__popUpMenuLanguage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.navigation__popUpMenuLanguageLink {
  text-decoration: none;
  color: #353535;
}

.navigation__popUpMenuLanguageActive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__popUpMenuLanguageActiveLine {
  background-color: #353535;
  width: 1.5625rem;
  height: 0.125rem;
}

@media (min-width: 768px) {
  .navigation__menuBtn {
    display: none;
  }
  .navigation__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.25rem;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
  }
  .navigation__itemsLink {
    text-decoration: none;
    color: #353535;
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
  }
  .navigation__itemsLink:hover {
    color: #8b8b8b;
  }
}

@media (min-width: 1200px) {
  .navigation__logoPicture {
    width: 12.5rem;
  }
  .navigation__items {
    font-size: 1.25rem;
    gap: 1.5625rem;
  }
}

@media (min-width: 1400px) {
  .navigation__logoPicture {
    width: 13.75rem;
  }
  .navigation__items {
    font-size: 1.375rem;
  }
}

.shown {
  left: 20%;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.transform.btnBar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 2px);
          transform: rotate(-45deg) translate(-9px, 2px);
}

.transform.btnBar2 {
  opacity: 0;
}

.transform.btnBar3 {
  -webkit-transform: rotate(45deg) translate(-8px, 0px);
          transform: rotate(45deg) translate(-8px, 0px);
}
/*# sourceMappingURL=main.css.map */