.aboutUs {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &Header {
    font-family: $mainFont;
    margin: toRem(25) 0 toRem(35) 0;
    font-size: toRem(20)
  }
}

// Breakpoints
@media (min-width: $break1400) {
  .aboutUsHeader {
    font-size: toRem(28);
  }
}